.example-spacer {
  flex: 1 1 auto;
}

.footer-spans {
  padding: 0 20px 0 20px;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 230px;
  max-height: 195px;
  width: auto;
  height: auto;
  padding-left: 130px;
}

div {
  display: flex;
  padding: 20vh;
}
