fieldset {
  width: 49% !important;
  min-width: 250px;
  margin: 10px;
  align-items: center;
}

form {
  display: flex;
}

span {
  word-break: break-all;
}

mat-form-field {
  margin: 10px;
  width: -webkit-fill-available;
}

button {
  margin: 10px;
}

.btns {
  text-align: right;
}

.upload-fieldset {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.drag-drop {
  min-width: 187px;
  border-radius: 20px;
  border: 4px #d67fff dashed;
  justify-content: center;
  text-align: center;
  margin-bottom: 4px;
}

.nachricht {
  width: 200% !important;
}