<mat-toolbar class="purple-bg">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <button class="menu-button" mat-menu-item (click)="routeToStartseite()">
      Startseite
    </button>
    <button class="menu-button" mat-menu-item (click)="routeToTable()">
      Tabelle der Bewerber
    </button>
    <button class="menu-button" mat-menu-item (click)="routeToFormular()">
      Formular für Bewerber
    </button>
  </mat-menu>
  <span>DICOS Bewerbungsportal</span>
</mat-toolbar>
